/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Site CSS */
html,
body {
  font-family: "Pangram", sans-serif;
  font-weight: 500;
  position: relative;
  scroll-behavior: smooth;
}

:root {
  --orange-400: #ffc859;
  --orange-500: #f5802a;
  --orange-600: #b25519;
  --purple-500: #702380;
  --purple-600: #51205e;
  --purple-650: #542360;
  --gray-400: #f8f8f8;
  --gray-500: #b9b8af;
  --gray-600: #8f8f8f;
  --green-500: #87c047;
  --green-600: #51991a;
}

.button {
  --gradient-angle: 0deg;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 5.5rem;
  line-height: normal;
  text-align: center;
  padding: 1rem;
  margin-inline: auto;
  border: none;
  border-radius: 100rem;
  background-image: linear-gradient(var(--gradient-angle), #8fc75d, #579530);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: filter 0.2s ease;
}
.button.light {
  max-width: 8rem;
  margin-inline: 0;
  background: none;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 2000rem;
}
.button:hover, .button:focus {
  filter: brightness(0.8);
}

header.hero {
  --padding-inline: 4rem;
  position: relative;
  min-height: 70vh;
  background-image: linear-gradient(49deg, var(--orange-500), var(--orange-400));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header.hero .header-left-panel {
  display: flex;
  margin-left: 2rem;
  padding-top: 10rem;
}
header.hero .header-left-panel a {
  align-self: end;
  width: 90%;
}
header.hero .header-left-panel a img {
  align-self: end;
  width: 100%;
  object-fit: contain;
  transform: translateY(3px);
}
header.hero .header-right-panel {
  display: flex;
}
header.hero .header-right-panel img {
  width: 100%;
  object-fit: cover;
}
header.hero .header-left-content {
  width: 40vw;
  position: absolute;
  bottom: 0;
  left: 10%;
}
header.hero .hero-navbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  max-height: 100px;
  padding-block: 3rem;
}
header.hero .hero-navbar .hero-navbar-left {
  margin-left: var(--padding-inline);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.hero .hero-navbar nav.hero-navbar-right {
  margin-right: var(--padding-inline);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.hero .hero-navbar nav.hero-navbar-right.mobile {
  display: none;
}
header.hero .hero-navbar nav.hero-navbar-right a {
  color: white;
  transition: filter 0.2s ease;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 1000rem;
  border: var(--orange-400) 2px solid;
}
header.hero .hero-navbar nav.hero-navbar-right a:hover, header.hero .hero-navbar nav.hero-navbar-right a:focus {
  filter: brightness(0.7);
}
header.hero .hero-navbar nav.hero-navbar-right ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 100%;
}
header.hero .hero-navbar nav.hero-navbar-right ul a {
  transition: filter 0.2s ease;
}
header.hero .hero-navbar nav.hero-navbar-right ul a:hover, header.hero .hero-navbar nav.hero-navbar-right ul a:focus {
  filter: brightness(0.7);
}

main section {
  padding: 3.5rem 4rem;
}
main section .container {
  max-width: 1440px;
  position: relative;
  margin-inline: auto;
}
main section .section-title {
  width: fit-content;
  text-transform: uppercase;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  line-height: normal;
  background-image: linear-gradient(-90deg, #56205c 0%, #51265e 16%, #ba5913 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}
main section .section-title.light {
  background: none;
  -webkit-text-fill-color: initial;
  color: white;
}
main section .section-text {
  max-width: 70ch;
  margin-inline: auto;
  text-align: center;
  color: var(--gray-600);
}
main section .section-text.bold {
  font-weight: bold;
}
main section .section-text.light {
  color: white;
}
main section.advantages {
  background-image: url("/assets/bg_vantagens.png");
}
main section.advantages .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: auto;
}
main section.advantages .advantages-card {
  height: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: white;
}
main section.advantages .advantages-card img {
  object-fit: contain;
  height: 64px;
  width: 64px;
}
main section.advantages .advantages-card p {
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}
main section.advantages .advantages-card p span {
  font-weight: bold;
}
main section.how-it-works {
  --box-shadow-width: -35vw;
  position: relative;
}
main section.how-it-works img.how-it-works-leaf {
  position: absolute;
  top: -8rem;
  left: -3rem;
}
main section.how-it-works img.how-it-works-mascot {
  position: absolute;
  bottom: -4rem;
  right: 27vw;
}
main section.how-it-works .how-it-works-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
main section.how-it-works .phases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
main section.how-it-works .phases .phase .phase-title {
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  padding: 0.375rem 1rem;
  line-height: normal;
  border-radius: 200rem;
  border: 2px solid var(--purple-500);
  margin-bottom: 0.375rem;
  padding-inline: 2rem;
}
main section.how-it-works .phases .phase .phase-title img.phase-icon {
  position: absolute;
  left: -1rem;
  transform: translateY(-25%);
  top: 0;
}
main section.how-it-works .phases .phase .phase-content {
  margin-left: 0.5rem;
  color: var(--gray-600);
  line-height: 2;
}
main section.orange-divider {
  --margin: 6rem;
  height: 270px;
  position: relative;
  padding: 0;
  margin-block: var(--margin);
  background-color: var(--orange-500);
}
main section.orange-divider img.how-it-works-mascot {
  position: absolute;
  margin-inline: auto;
  top: calc(-1 * var(--margin) / 2);
  right: 0;
  left: 0;
  text-align: center;
}
main section.about-us {
  background-color: var(--gray-400);
  position: relative;
}
main section.about-us .section-text {
  margin-bottom: 3.5rem;
}
main section.about-us .about-us-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 4rem;
  max-width: 900px;
  margin-inline: auto;
}
main section.about-us .about-us-image img {
  width: fit-content;
}
main section.about-us .about-us-image img.about-us-leaf {
  position: absolute;
  top: -4rem;
  right: 0;
  pointer-events: none;
}
main section.about-us .about-us-image img.about-us-tablet {
  align-self: flex-start;
  margin-left: 4.5rem;
  pointer-events: none;
}
main section.about-us .about-us-image .button {
  --gradient-angle: 109deg;
  max-width: 11rem;
  position: absolute;
  bottom: 3.5rem;
  padding-block: 0.75rem;
  font-size: 0.8rem;
}
main section.about-us img.about-us-man-image {
  position: absolute;
  bottom: 0;
  transform: translateX(40%) translateY(38%);
  pointer-events: none;
}
main section.instagram {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  background-image: url("/assets/bg_instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main section.instagram img {
  margin-bottom: 0.5rem;
}
main section.instagram .followers {
  font-size: 3rem;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.5rem;
}
main section.instagram .followers.followers-1 {
  color: white;
}
main section.instagram .followers.followers-2 {
  color: rgba(255, 255, 255, 0.55);
}
main section.instagram .followers.followers-3 {
  color: rgba(255, 255, 255, 0.1);
}
main section.instagram .instagram-button {
  max-width: 10%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.375rem 3.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: transparent;
  background-image: none;
  border: 2px solid white;
  border-radius: 1000rem;
}
main section.instagram .instagram-button i {
  font-size: 1.5rem;
}
main section.testimonies {
  padding-block: 7rem;
}
main section.testimonies .testimonies-grid {
  display: grid;
  grid-template-columns: repeat(3, 12rem);
  gap: 3rem;
  place-content: center;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}
main section.testimonies .testimonies-grid .testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
}
main section.testimonies .testimonies-grid .testimony img {
  width: fit-content;
  margin-bottom: 0.75rem;
}
main section.testimonies .testimonies-grid .testimony .username {
  font-weight: 600;
}
main section.testimonies .testimonies-grid .testimony .testimony-content {
  font-size: 0.9rem;
  line-height: 1.8;
  color: var(--gray-600);
}
main section.testimonies .button {
  max-width: 7%;
  padding: 0.75rem 3.5rem;
}
main section.satisfaction {
  --p-height: 6rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 22rem);
  background-color: var(--gray-400);
  gap: 5rem;
  place-content: center;
  padding-block: var(--p-height);
}
main section.satisfaction .satisfaction-leaf {
  position: absolute;
  top: calc(-5rem - var(--p-height));
  left: -5rem;
}
main section.satisfaction .satisfaction-sneakers {
  position: absolute;
  top: calc(-4rem - var(--p-height));
  right: 0;
}
main section.satisfaction .satisfaction-left-panel {
  position: relative;
}
main section.satisfaction .satisfaction-left-panel > * {
  text-align: left;
  margin-inline: 0;
}
main section.satisfaction .satisfaction-left-panel .section-title {
  letter-spacing: normal;
}
main section.satisfaction .satisfaction-left-panel .section-text {
  width: auto;
  margin-bottom: 2rem;
  line-height: 1.8;
}
main section.satisfaction .satisfaction-left-panel .button {
  max-width: fit-content;
  padding-inline: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
main section.satisfaction .satisfaction-left-panel .satisfaction-disclaimer {
  font-size: 0.8rem;
  font-weight: 600;
  color: #9f7941;
}
main section.satisfaction .satisfaction-right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.benefits {
  --bg-pos-x: 32%;
  background-image: linear-gradient(135deg, #ffc859, #f5802a);
  color: white;
  padding-block: 0;
}
main section.benefits .container {
  padding-block: 7rem;
  background-image: url("/assets/folhas_beneficios.png");
  background-position-x: var(--bg-pos-x);
  background-repeat: no-repeat;
  background-size: contain;
}
main section.benefits .container .mockup-img {
  position: absolute;
  left: calc(var(--bg-pos-x) * 0.6);
  height: 60%;
}
main section.benefits .container .content {
  position: relative;
  max-width: 50%;
  margin-left: auto;
}
main section.benefits .container .content .button {
  max-width: fit-content;
  padding-inline: 2rem;
  margin-left: 0;
}
main section.benefits .section-title {
  margin-inline: 0;
}
main section.benefits .section-text {
  margin-inline: 0;
  margin-bottom: 3rem;
  max-width: 40ch;
  text-align: left;
  line-height: 1.8;
}
main section.benefits ul {
  margin-bottom: 3rem;
}
main section.benefits ul li:not(:last-child) {
  margin-bottom: 1rem;
}
main section.benefits ul li i {
  margin-right: 0.5rem;
}
main section.benefits ul li b.highlight {
  color: white;
  position: relative;
  line-height: normal;
  font-weight: 600;
}
main section.benefits ul li b.highlight::after {
  content: attr(title);
  position: absolute;
  inset: 0;
  color: rgba(0, 255, 0, 0.3);
}
main section.pricings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4.5rem;
}
main section.pricings .section-title {
  margin-bottom: 1rem;
}
main section.pricings .mascot-left, main section.pricings .mascot-right {
  position: absolute;
  bottom: 0;
}
main section.pricings .mascot-left {
  left: 0;
}
main section.pricings .mascot-right {
  right: 0;
}
main section.pricings .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
main section.pricings .pricing-card {
  --text-dark-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 2px var(--gray-500);
}
main section.pricings .pricing-card .pricing-card-title {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--gray-500);
}
main section.pricings .pricing-card .pricing-card-title .subtitle {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}
main section.pricings .pricing-card .pricing-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  align-items: center;
  position: relative;
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-message {
  color: var(--purple-500);
  font-weight: 600;
  text-transform: uppercase;
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-price {
  font-size: 0.8rem;
  position: relative;
  color: var(--text-dark-color);
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-price::before {
  content: attr(title);
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  font-weight: 300;
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-price .amount {
  font-weight: bold;
  font-size: 2.5rem;
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-price .amount .currency {
  vertical-align: top;
  font-size: 1rem;
  margin-right: 0.25rem;
}
main section.pricings .pricing-card .pricing-card-content .pricing-card-price .slash {
  margin-inline: 0.25rem;
}
main section.pricings .pricing-card .pricing-card-content .button {
  max-width: fit-content;
  padding-inline: 2rem;
  background-image: linear-gradient(-90deg, #8fc75d, #579530);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
main section.pricings .pricing-card .pricing-card-content .button::before {
  content: attr(title);
  position: absolute;
  bottom: -4px;
  transform: translateY(100%);
  width: 100%;
  text-align: center;
  font-weight: 300;
  text-transform: none;
  color: var(--text-dark-color);
}
main section.pricings .pricing-card .pricing-card-content .pricing-mockup {
  height: 100%;
}
main section.pricings .pricing-card.purple {
  box-shadow: 0 0 0 2px var(--purple-500);
}
main section.pricings .pricing-card.purple .pricing-card-title {
  background-color: var(--purple-500);
}
main section.pricings .pricing-card.orange {
  box-shadow: 0 0 0 2px var(--orange-500);
}
main section.pricings .pricing-card.orange .pricing-card-title {
  background-color: var(--orange-500);
}
main section.faq {
  position: relative;
  background-color: var(--gray-400);
  background-image: url("/assets/bg_faq.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 7rem;
}
main section.faq .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.faq .content img {
  max-width: fit-content;
}
main section.faq .content .faq-accordions {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.faq .content .faq-accordions details {
  width: 100%;
  color: var(--gray-600);
}
main section.faq .content .faq-accordions details summary {
  padding: 1rem 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid transparent;
  border-radius: 2000rem;
}
main section.faq .content .faq-accordions details summary::marker {
  content: "";
}
main section.faq .content .faq-accordions details summary:hover {
  cursor: pointer;
}
main section.faq .content .faq-accordions details summary span.plus {
  background-image: linear-gradient(-90deg, #56205c 0%, #51265e 16%, #ba5913 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  margin-top: -4px;
  font-size: 2rem;
}
main section.faq .content .faq-accordions details summary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  padding: 2px;
  background: linear-gradient(-90deg, #56205c 0%, #51265e 16%, #ba5913 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
main section.faq .content .faq-accordions details main {
  padding: 1rem 2.5rem;
  line-height: normal;
}
main section.faq .foreground-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
  background-image: url("/assets/bg_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 15rem;
  color: white;
}
footer section {
  margin-bottom: 2rem;
}
footer section.footer-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer section.footer-left .footer-logo {
  width: fit-content;
}
footer section.footer-left .footer-about {
  max-width: 55ch;
  line-height: 2;
}
footer section.footer-left .social-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
footer section.footer-left .social-links .link {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  color: black;
  mix-blend-mode: screen;
  transition: filter 0.2s ease;
}
footer section.footer-left .social-links .link:hover, footer section.footer-left .social-links .link:focus {
  filter: brightness(0.8);
}
footer section.footer-left .social-links .link span {
  display: none;
}
footer section.footer-left .follow-call {
  font-weight: 600;
}
footer section.footer-right ul li {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 2rem;
}
footer section.footer-right ul li:last-child {
  margin-bottom: 1rem;
}
footer section.footer-right ul li h3 {
  font-size: 1rem;
  font-weight: bold;
}
footer section.footer-right ul li img.payment-methods {
  margin-top: 0.5rem;
}
footer hr {
  grid-column: 1/3;
  border: none;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-block: 2rem;
}
footer .copyright {
  grid-column: 1/3;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 300;
}
footer .copyright:not(:last-child) {
  margin-bottom: 0.5rem;
}

html.hide-scroll {
  overflow: hidden;
}

@keyframes example {
  to {
    background-color: none;
    backdrop-filter: none;
  }
}
#mc_embed_signup input {
  width: 100%;
  padding: 1rem 2rem;
  margin-block: 1rem;
  border: 2px white solid;
  border-radius: 10000rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}
#mc_embed_signup input::placeholder {
  font-weight: 300;
  color: white;
}

#mc_embed_signup .button {
  --gradient-angle: 0deg;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 5.5rem;
  height: auto;
  line-height: normal;
  text-align: center;
  padding: 1rem;
  margin: auto;
  border: none;
  border-radius: 100rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: filter 0.2s ease;
  background-image: none;
  background-color: var(--green-600);
  font-weight: normal;
  max-width: fit-content;
  padding-inline: 4rem;
  margin-top: 2rem;
}
#mc_embed_signup .button:hover, #mc_embed_signup .button:focus {
  filter: brightness(0.8);
}

#mc_embed_signup .mc-field-group {
  width: auto;
  padding-bottom: 0;
}

#mc_embed_signup h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

#mc_embed_signup .mc-field-group input {
  padding: 1rem 0;
  text-indent: 2rem;
}

#mc_embed_signup .foot {
  display: block;
  width: auto;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
  margin: 0;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 2rem 0;
  padding: 0;
  font-weight: bold;
  float: left;
  top: 0;
  z-index: 1;
  width: auto;
}

#mc_embed_signup #mce-success-response {
  color: white;
}

#mc_embed_signup form {
  padding: 0;
}

.popup-container {
  --ease: cubic-bezier(.25, 0, .3, 1);
  --squish: cubic-bezier(.5, -.5, .1, 1.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  transition: opacity 0.5s var(--ease), backdrop-filter 0.5s ease, background-color 0.5s ease;
}
.popup-container[data-closed] {
  display: none;
  background-color: none;
  backdrop-filter: none;
}
.popup-container[data-open] {
  animation: slide-in-up 0.5s var(--ease) forwards;
}
.popup-container:not([data-open]) {
  pointer-events: none;
  opacity: 0;
}
.popup-container .popup {
  --popup-padding: 0rem;
  position: relative;
  width: 50vw;
  aspect-ratio: 16/9;
  margin-inline: auto;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: var(--popup-padding);
  border-radius: 4rem;
  background-image: url("/assets/bg_popup_saida.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.popup-container .popup .popup-mascot {
  position: absolute;
  top: 0;
  left: -5rem;
  height: 98%;
}
.popup-container .popup .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
  font-weight: 300;
}
.popup-container .popup .popup-content .popup-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.popup-container .popup .popup-content p {
  line-height: 2;
  text-align: center;
  padding-inline: 1rem;
  margin-bottom: 2rem;
}
.popup-container .popup .popup-content .popup-text-input {
  width: 100%;
  padding: 1rem 2rem;
  margin-block: 1rem;
  border: 2px white solid;
  border-radius: 10000rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}
.popup-container .popup .popup-content .popup-text-input::placeholder {
  font-weight: 300;
  color: white;
}
.popup-container .popup .popup-content .button {
  border: none;
  background-image: none;
  background-color: var(--green-600);
  font-weight: normal;
  max-width: fit-content;
  padding-inline: 4rem;
}
.popup-container .popup .popup-close {
  --offset: -1rem;
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  width: 4rem;
  aspect-ratio: 1/1;
  background-color: black;
  border: none;
  border-radius: 100%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.2s ease;
}
.popup-container .popup .popup-close:hover, .popup-container .popup .popup-close:focus, .popup-container .popup .popup-close:focus-within {
  filter: contrast(0.7);
}

@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}
@keyframes slide-out-down {
  to {
    transform: translateY(100%);
  }
}
@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}
@media only screen and (max-width: 320px) {
  header.hero {
    min-height: 65vh;
  }
  header.hero .hero-navbar .hero-navbar-left img {
    width: 100% !important;
  }

  main section {
    padding-inline: 1.5rem;
  }

  section.how-it-works img.how-it-works-leaf {
    width: 30% !important;
  }

  section.about-us .about-us-image .button {
    bottom: 0;
  }
  section.about-us .about-us-image img.about-us-leaf {
    right: -1rem !important;
  }
  section.about-us .about-us-image img.about-us-man-image {
    width: 70% !important;
    right: 4rem !important;
    bottom: 2rem !important;
    top: auto !important;
  }

  section.orange-divider img.how-it-works-mascot {
    width: 100%;
  }

  section.pricings .mascot-image {
    display: none;
  }

  footer {
    padding-inline: 1.5rem !important;
  }
}
@media only screen and (max-width: 425px) {
  header.hero {
    grid-template-columns: 1fr;
  }
  header.hero .header-right-panel {
    display: none;
  }
  header.hero .hero-navbar .button {
    border-radius: 1rem;
    max-width: 1.5rem;
  }
  header.hero .hero-navbar .hero-navbar-left img {
    width: 90%;
  }
  header.hero .hero-navbar nav.hero-navbar-right {
    position: relative;
    font-size: 0.9rem;
  }
  header.hero .hero-navbar nav.hero-navbar-right.desktop {
    display: none;
  }
  header.hero .hero-navbar nav.hero-navbar-right.mobile {
    display: flex;
  }
  header.hero .hero-navbar nav.hero-navbar-right ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -3.5rem;
    right: 0;
    gap: 0.5rem;
  }
  header.hero .hero-navbar nav.hero-navbar-right ul li {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    width: 200px;
    border: 2px solid white;
    border-radius: 1rem;
  }
  header.hero .hero-navbar nav.hero-navbar-right ul.hidden {
    display: none;
  }

  main section.how-it-works {
    box-shadow: none;
  }
  main section.how-it-works img.how-it-works-leaf {
    width: 20%;
    top: -6rem;
  }
  main section.how-it-works .how-it-works-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main section.how-it-works img.how-it-works-mascot {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    inset: 0;
  }
  main section.testimonies .testimonies-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }
  main section.satisfaction {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
  main section.satisfaction .satisfaction-leaf {
    --leaf-scale: 0.6;
    transform: scale(var(--leaf-scale));
  }
  main section.satisfaction .satisfaction-sneakers {
    --sneakers-scale: 0.6;
    transform: scale(var(--sneakers-scale));
    right: -62px;
  }
  main section.about-us .section-title {
    text-align: center;
  }
  main section.about-us .about-us-image .button {
    bottom: 0;
  }
  main section.about-us .about-us-image img.about-us-leaf {
    width: 30%;
    top: -5rem;
    right: -2rem;
  }
  main section.about-us .about-us-image img.about-us-tablet {
    width: 100%;
    margin-left: 0;
    margin-right: 5rem;
    align-self: flex-end;
  }
  main section.about-us .about-us-image img.about-us-man-image {
    width: 90%;
    top: auto;
    right: 3rem;
    bottom: 3rem;
  }
  main section.benefits {
    position: relative;
    background-position-y: bottom;
    background-size: cover;
  }
  main section.benefits .container {
    background-size: cover;
    background: none;
  }
  main section.benefits .container .mockup-img {
    display: none;
  }
  main section.benefits .container .content {
    position: relative;
    max-width: 100%;
  }
  main section.benefits .container .content .button {
    margin-inline: auto;
  }
  main section.pricings .content {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
  }
  main section.pricings .mascot-image {
    display: none;
  }
  main section.pricings .mascot-left,
main section.pricings .mascot-right {
    width: 30%;
  }
  main section.faq .section-title {
    margin-top: 1rem;
    text-align: center;
  }
  main section.faq .content .faq-accordions {
    width: 100%;
  }
  main section.faq .foreground-image {
    display: none;
  }

  .popup-container .popup {
    width: 90vw;
    aspect-ratio: auto;
  }
  .popup-container .popup .popup-content {
    max-width: 70%;
    gap: 1rem;
  }
  .popup-container .popup .popup-content .popup-title {
    font-size: 2.4rem;
  }
  .popup-container .popup .popup-mascot {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 4rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  main section.satisfaction {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
  main section.benefits .container .mockup-img {
    left: 0;
  }
  main section.how-it-works {
    --box-shadow-width: -30vw;
  }
  main section.how-it-works img.how-it-works-mascot {
    right: 15vw;
  }
  main section.pricings .content {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
  }
  main section.faq .content .faq-accordions {
    width: 100%;
  }
  main section.faq .foreground-image {
    display: none;
  }

  .popup-container .popup {
    width: 70vw;
    aspect-ratio: auto;
  }
  .popup-container .popup .popup-content {
    max-width: 80%;
    gap: 1rem;
  }
  .popup-container .popup .popup-mascot {
    height: 60%;
    bottom: 0;
    top: auto;
  }

  footer {
    padding-inline: 5rem;
    column-gap: 2rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main section.how-it-works img.how-it-works-mascot {
    right: 23vw;
  }
  main section.benefits .container .mockup-img {
    left: calc(var(--bg-pos-x) * 0.4);
  }

  footer {
    padding-inline: 6rem;
    column-gap: 4rem;
  }
}
